@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

.App {
  /* font-family: sans-serif; */
  text-align: center;
}

body {
  background-color: #101012;
  color: white;
  font: normal 1em/1.45em "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 50px;
  margin: 0 auto;
}

h1 {
  font-family: "Fredoka One", cursive;
  color: #15d880;
  font-size: 2.9rem;
  font-weight: 100;
}

.Container {
  background-color: #292929;
  display: block;
  padding: 20px 20px 20px 10px;
  border-radius: 20px;
  min-height: 25px;
  line-height: 24px;
  overflow: hidden;
  border: 0;
  width: 400px;
  margin: 0 auto;
}

.Spacer {
  width: 1rem;
  height: 2rem;
}

.Field {
  margin-bottom: 2em;
}

.Field__Label {
  margin-bottom: 0.5em;
}

.Field__Input {
  width: 200px;
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
  text-align: center;
  border-radius: 1em;
  border-width: 1px;
  border-style: solid;
  border-color: #15d880;
}

.Field__HelperMessage {
  font-size: 0.7em;
  color: red; 
}



.Buttons {
  display: flex;
  justify-content: center;
}

.Button {
  font-size: 0.8rem;
  padding: 0.7em 2em;
  border: none;
  background-color: #15d880;
  color: white;
  border-radius: 2em;
}
.DisabledButton{
  font-size: 0.8rem;
  padding: 0.7em 2em;
  border: none;
  background-color: rgb(143, 143, 143,0.6);
  color: rgb(163, 163, 163);
  border-radius: 2em;
}

 /* Fieldコンポーネントで定義したinputタグ27行目 */
 input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
}

/* 入力欄 */
.container {
  background-color: #f1f1f1;
  padding: 20px;
}

/* ユーザーが入力欄をクリックした際に表示されるスタイル*/
#mailMessage {
  display:none;
  background: #000000;
  color: rgb(255, 0, 0);
  position: relative;
  padding: 20px;
  margin-top: 0px;
}
#pwdMessage {
  display:none;
  background: #000000;
  color: rgb(255, 0, 0);
  position: relative;
  padding: 20px;
  margin-top: 0px;
}
#mailMessage p {
  /* padding: 0px 0px; */
  font-size: 12px;
}
#pwdMessage p {
  /* padding: 0px 0px; */
  font-size: 12px;
}

/* 入力が正しかった際に文字を緑色にする */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✓";
}

/* 入力が誤っていたいた場合に文字を赤くする */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
} 